@model IEnumerable<UMember.tbBonusRecord>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Record_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbMemberInfo.Member_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Current_Bonus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bonus_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bonus_Producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance_Num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operator_Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Record_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbMemberInfo.Member_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Current_Bonus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bonus_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bonus_Producer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance_Num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operator_Time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
