@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model UMember.tbProduct
@{
    ViewBag.Title = "删除产品";
}
<script>
    jQuery().ready(function ($) {
        $(".nav li:contains('产品管理')").addClass("active");
    })

</script>
<h3>确定要删除该产品？</h3>
<fieldset>
    <legend>tbProduct</legend>

    
    <div class="display-label">
         产品名称
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product_Name)
    </div>
    <div class="display-label">
         价格
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
        PV
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PV)
    </div>
    <div class="display-label">
         描述
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
   
</fieldset>
@using (Html.BeginForm()) {
    <p>
        @Html.ActionLink("取消", "Index","Product",null,new {@class= "btn"}) <input type="submit" value="提交" class="btn btn-success" />
    </p>
}
