@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model UMember.tbProduct

@{
    ViewBag.Title = "Edit";
}
<script>
    jQuery().ready(function ($) {
        $(".nav li:contains('产品管理')").addClass("active");
    })

</script>
<h2>编辑产品</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>编辑产品</legend>



        <div class="editor-label">
            <span class="input_required">*</span>名称
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product_Name)
            @Html.ValidationMessageFor(model => model.Product_Name)
        </div>


        <div class="editor-label">
            <span class="input_required">*</span>编码
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Product_Code)
            @Html.ValidationMessageFor(model => model.Product_Code)
        </div>


        <div class="editor-label">
            <span class="input_required">*</span>规格
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.spec)
            @Html.ValidationMessageFor(model => model.spec)
        </div>


        <div class="editor-label">
            <span class="input_required">*</span>价格
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            <span class="input_required">*</span>折算PV值
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PV)
            @Html.ValidationMessageFor(model => model.PV)
        </div>
        <div class="editor-label">
            可激活
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(model => model.Is_Active, "true", new { Checked = "checked" }) 是
    @Html.RadioButtonFor(model => model.Is_Active, "false") 否
        </div>
        <div class="editor-label">
            可兑换
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(model => model.Is_Exchange, "true", new { Checked = "checked" }) 是
    @Html.RadioButtonFor(model => model.Is_Exchange, "false") 否
        </div>
        <div class="editor-label">
            是否隐藏
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(model => model.Is_Hide, "true") 是
    @Html.RadioButtonFor(model => model.Is_Hide, "false") 否
        </div>

        <div class="editor-label">
            描述
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        @Html.HiddenFor(model => model.Product_ID)
        <p>
            @Html.ActionLink("取消", "Index", "Product", null, new { @class = "btn" })
            <input type="submit" value="提交" class="btn btn-success" />
        </p>
    </fieldset>
}



