@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PagedList.IPagedList<UMember.tbProduct>
@using PagedList.Mvc; 


@{
    ViewBag.Title = "Index";
    
}

<script>
    jQuery().ready(function ($) {
        $(".nav li:contains('产品管理')").addClass("active");
    })
    
</script>
@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <p>
        名称: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)  
        <input type="submit" value="查询" class="btn btn-primary" />@Html.ActionLink("新增", "Create","Product",null,new {@class= "btn"})
    </p>
}


<table class="table table-bordered">
    <tr>
        
        <th>
            品名
        </th>
        <th>
            编码
        </th>
        <th>
            规格
        </th>        
        <th>
            价格
        </th>
        <th>
           折算PV值
        </th>
        <th>
           可激活
        </th>
        <th>
           可兑换
        </th>
        <th>
           是否隐藏
        </th>
        <th>
            备注
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Product_Name)
        </td>
       <td>
            @Html.DisplayFor(modelItem => item.Product_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PV)
        </td>
         @if (item.Is_Active == true)
            {
                  <td>是</td>             
            }
        else
        {
                <td>否</td> 
            }
         @if (item.Is_Exchange == true)
            {
                  <td>是</td>             
            }
        else
        {
                <td>否</td> 
            }
         @if (item.Is_Hide == true)
            {
                  <td>是</td>             
            }
        else
        {
                <td>否</td> 
            }
         <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new {  id=item.Product_ID  },new {@class= "btn"}) 
            @Html.ActionLink("删除", "Delete", new {  id=item.Product_ID  },new {@class= "btn"}) 
        </td>
    </tr>
}

</table>
@Html.PagedListPager( Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter }) )   
