@model UMember.tbDataBaseState

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tbDataBaseState</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Is_Closed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Is_Closed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reason)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reason)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Operator_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Operator_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Operator_Time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Operator_Time)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
