@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FWMemberAdmin.Models.ChangePasswordView

@{
    ViewBag.Title = "Edit";
}

<h2>修改密码</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>修改密码</legend>

       
        <div class="editor-label">
            @Html.LabelFor(model => model.Admin_Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Admin_Password)
            @Html.ValidationMessageFor(model => model.Admin_Password)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.New_Admin_Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.New_Admin_Password)
            @Html.ValidationMessageFor(model => model.New_Admin_Password)
        </div>


         <div class="editor-label">
            @Html.LabelFor(model => model.Confirm_New_Admin_Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Confirm_New_Admin_Password)
            @Html.ValidationMessageFor(model => model.Confirm_New_Admin_Password)
        </div>

        <p>
             @Html.ActionLink("取消", "Index","Home",null,new {@class= "btn"}) <input type="submit" value="提交" class="btn btn-success" />
        </p><span class="alert alert-success">@ViewBag.Tip</span>
    </fieldset>
}

