@model UMember.tbSCenterInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tbSCenterInfo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tbSCenterAccount.SCenter_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbSCenterAccount.SCenter_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCenter_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCenter_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ServinceCenter_RealName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ServinceCenter_RealName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.First_Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.First_Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Second_Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Second_Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Scenter_Level)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Scenter_Level)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DetailAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DetailAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Is_Delete)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Is_Delete)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCenterManager_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCenterManager_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCenterManager_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCenterManager_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SCenterManager_Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SCenterManager_Phone)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
