@model IEnumerable<UMember.tbSCenterAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbSCenterInfo.SCenter_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sum_ECurrency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sum_Cash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Left_ECurrency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Left_Cash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Update_Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbSCenterInfo.SCenter_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sum_ECurrency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sum_Cash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Left_ECurrency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Left_Cash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Update_Time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
