@model IEnumerable<UMember.tbJmail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mail_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail_Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Receiver_MailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Send_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Failed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mail_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail_Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Receiver_MailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Send_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Failed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
