@model UMember.tbWithdrawRules

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tbWithdrawRules</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Limit_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Limit_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lower_Money)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lower_Money)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.uper_Money)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.uper_Money)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HandlingFee)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HandlingFee)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
