@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model UMember.tbAllyGrade

@{
    ViewBag.Title = "Details";
}


<fieldset>
    <legend>级别详情</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AllyGrade_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AllyGrade_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AllyGrade_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AllyGrade_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AllyGrade_Money)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AllyGrade_Money)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PV)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PV)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsDelete)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsDelete)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsHide)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsHide)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
