@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model UMember.Models.AllyGradeView

@{
    ViewBag.Title = "Edit";
}

<script>
    jQuery().ready(function ($) {
        $(".nav li:contains('加盟等级管理')").addClass("active");
    })
    
</script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>编辑加盟级别</legend>

       
        <div class="editor-label">
           名称
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AllyGrade_Name)
            @Html.ValidationMessageFor(model => model.AllyGrade_Name)
        </div>

        <div class="editor-label">
            加盟金额
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AllyGrade_Money)
            @Html.ValidationMessageFor(model => model.AllyGrade_Money)
        </div>

        <div class="editor-label">
           折算PV值
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PV)
            @Html.ValidationMessageFor(model => model.PV)
        </div>
        <div class="editor-label">
            权重
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Weight)
            @Html.ValidationMessageFor(model => model.Weight)
        </div>

        <div class="editor-label">
            最大招商奖励
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxZhaoSangJiang)
            @Html.ValidationMessageFor(model => model.MaxZhaoSangJiang)
        </div>

        <div class="editor-label">
            最高市场补贴系数
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxShiCangBuTieFactor)
            @Html.ValidationMessageFor(model => model.MaxShiCangBuTieFactor)
        </div>



        <div class="editor-label">
            备注
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        

        <div class="editor-label">
           是否隐藏
        </div>
        <div class="editor-field">
           @Html.RadioButtonFor(model => model.Is_Hide, "false") 否
            @Html.RadioButtonFor(model => model.Is_Hide, "true") 是
        </div>
         @Html.HiddenFor(model => model.AllyGrade_ID)
        <p>
          @Html.ActionLink("取消", "Index","AllyGrade",null,new {@class= "btn"})  <input type="submit" value="提交" class="btn btn-success" />
        </p>
    </fieldset>
}


