@model UMember.tbBonusConfig

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tbBonusConfig</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category_ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category_ID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Balance_Num)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Balance_Num)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JSNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JSNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Create_Time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Create_Time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TuiJian_Para1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TuiJian_Para1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CenJiang_Para1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CenJiang_Para1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CenJiang_Para2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CenJiang_Para2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CenJiang_Para3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CenJiang_Para3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JianDian_Para1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JianDian_Para1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JianDian_Para2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JianDian_Para2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ZiJianGuanLi_Para1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZiJianGuanLi_Para1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ZiJianGuanLi_Para2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZiJianGuanLi_Para2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ZiJianGuanLi_Para3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZiJianGuanLi_Para3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ZiJianGuanLi_Para4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZiJianGuanLi_Para4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ZiJianGuanLi_Para5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZiJianGuanLi_Para5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DianBu_Para1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DianBu_Para1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FengHong_Para1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FengHong_Para1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FengHong_Para2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FengHong_Para2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CeJiang_Para1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CeJiang_Para1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CeJiang_Para2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CeJiang_Para2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FangJiang_Para1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FangJiang_Para1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FangJiang_Para2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FangJiang_Para2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LYou_Para1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LYou_Para1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LYou_Para2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LYou_Para2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FuXiao_Para1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FuXiao_Para1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FuXiao_Para2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FuXiao_Para2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FuXiao_Para3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FuXiao_Para3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FuXiao_Para4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FuXiao_Para4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.XianDai_Para1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.XianDai_Para1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SiDai_Para1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SiDai_Para1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SenDai_Para1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SenDai_Para1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tax_Para1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tax_Para1)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
