@model UMember.tbMemberAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tbMemberAccount</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tbMemberInfo.Member_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbMemberInfo.Member_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sum_Bonus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sum_Bonus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sum_ECurrency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sum_ECurrency)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sum_FuXiao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sum_FuXiao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Left_Bonus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Left_Bonus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Left_ECurrency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Left_ECurrency)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Left_FuXiao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Left_FuXiao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Update_Time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Update_Time)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
